@import "tailwindcss";

@theme{

  --color-primary:#DB4444;
  --color-secondary:#F0EEED;
  --color-bg:#F0F0F0;
  --color-bg2:#2F2E30;
  --font-open: "Open Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

.main-bg{
  background: url("./assets/bg-main.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #F2F0F1;
}